@charset "UTF-8";

body {background-color: rgb(147, 192, 243); font-family: arial; font-size: 20px;}
        h1 {color: rgb(57, 90, 240);}
        h2 { color: rgb(31, 104, 146);}
        p {color: rgb(56, 89, 121)}